{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="col">
  <div class="mb-3">
    <label for="employment_id" class="form-label">Employee salary list</label>

    <div class="container ">
      <div class="row">
        <div class="row-md-6 ">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <img src="{{ employee.image.url }}"  class="img-fluid rounded-circle" alt="Profile Image" style="width: 150px; height: 150px;">
              </div>
              <h3 class="card-title text-center mt-3">{{ employee.first_name }} {{ employee.last_name }}</h3>
              <table class="table">
                <tbody>
                  <tr>
                    <th>Employement ID</th>
                    <td><b>{{ employee.Employement_id }}</b></td>
                  </tr>
                  <tr>
                    <th>First Name</th>
                    <td><b>{{ employee.first_name }}</b></td>
                  </tr>
                  <tr>
                    <th>Middle Name</th>
                    <td>{{ employee.middle_name }}</td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td><b>{{ employee.last_name }}</b></td>
                  </tr>
                  <tr>
                    <th>Username</th>
                    <td>{{ employee.username }}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{ employee.Email }}</td>
                  </tr>
                  <tr>
                    <th>Phone Number</th>
                    <td>{{ employee.phone_number }}</td>
                  </tr>
                  <tr>
                    <th>KRA PIN</th>
                    <td>{{ employee.kra_pin }}</td>
                  </tr>
                  <tr>
                    <th>Salary type</th>
                    <td>{{ employee.salary }}</td>
                  </tr>
                  <tr>
                    <th>Department</th>
                    <td>{{ employee.department }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--second section-->
<div class="container ">
<div class="row">
<div class="row-md-6 ">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Employee Image</th>
            <td>
            <div class="text-center">
              <img src="{{ employee.image.url }}" class="img-fluid " alt="Profile Image" style="width: 400px; height: 200px;">
            </div>
          </td>
          </tr>
          <tr>
            <th>front ID image</th>
            <td>
              <div class="text-center">
                <img src="{{ employee.front_id_image.url}}" class="img-fluid " alt="Profile Image" style="width: 400px; height: 200px;">
              </div>
            </td>
          </tr>
          <tr>
            <th>Back ID image</th>
            <td>
              <div class="text-center">
                <img src="{{ employee.back_id_image.url }}" class="img-fluid " alt="Profile Image" style="width: 400px; height: 200px;">
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
<!--end of second section-->

<!--third section-->
<div class="container ">
<div class="row">
<div class="row-md-6 ">
  <div class="card">
    <div class="card-body">

      <h1 class="text-center"><b>NEXT OF KIN DETAILS</b></h1>
      <table class="table">
        <tbody>
          <tr>
            <th>National  ID</th>
            <td><b>{{ employee.next_of_kin_national_id }}</b></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td><b>{{ employee.next_of_kin_first_name }}</b></td>
          </tr>
          <tr>
            <th>Middle Name</th>
            <td>{{ employee.next_of_kin_middle_name }}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td><b>{{ employee.next_of_kin_last_name }}</b></td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ employee.next_of_kin_email}}</td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>{{ employee.next_of_kin_phone_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
<!--end of third section-->

<!--beginning of fourth section-->
<div class="container">
<div class="row">
<div class="row md-6">
  <div class="card">
    <div class="card-body">
      <h3>Total Amount Earned so far</h3>
      <p>Kenya shillings {{ employee.total_income }}</p>
    </div>
  </div>
</div>
</div>
</div>
<!--end of fourth section-->
 </div>
</div>
{% endblock content %}