{% extends "Dashboard/base.html" %}
{% load static %}

{% block content %}
 <!--second one-->
 <div class="container ">
  <div class="col">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="{% static 'img/profile-img.jpg'   %}" class="img-fluid rounded-circle" alt="Profile Image" style="width: 150px; height: 150px;">
          </div>
         <div>
          {% for manager in managers %}
          <h3 class="card-title text-center mt-3">{{ manager.first_name }} {{ manager.last_name }}</h3>
          <table class="table">
            <tbody>
              <tr>
                <th>First Name</th>
                <td><b>{{ manager.first_name }}</b></td>
              </tr>
              <tr>
                <th>Middle Name</th>
                <td><b>{{ manager.middle_name }}</b></td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td><small>{{ manager.last_name }}</small></td>
              </tr>
              <tr>
                <th>Employee ID</th>
                <td><b>{{ manager.employee_id }}</b></td>
              </tr>
              <tr>
                <th>Status</th>
                <td>Active</td>
              </tr>
              <tr>
                <th>Employee Level</th>
                <td>CEO</td>
              </tr>
              <tr>
                <th>Bio Description</th>
                <td>{{ manager.bio_descrption }}</td>
              </tr>
            </tbody>
          </table>
          {% endfor %}
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}