{% extends "Dashboard/base.html" %}

{% block content %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">EMP ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>monthly</td>
        <td>Kshs 0.00</td>
      </tr>
      
    </tbody>
  </table>
</div>

{% endblock content %}