{% extends "Dashboard/base.html" %}

{% block content %}
    <!-- Left side columns -->
    <div class="container">
      <h1>Remove Business Department</h1>
      
       
        <div class="mb-3">
          <label for="employment_id" class="form-label">Department Id</label>
          <input type="number" class="form-control" id="department_id" name="employment_id" required>
        </div>
       
  
  <form method="POST">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

    

  </div>
{% endblock content %}