{% extends "Dashboard/base.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Insurance Cost</div>
    <h3>Kshs 2500</h3>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-title">KRA tax</div>
    <h3>16% of total salary</h3>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-title">NHIF</div>
    <h3>2% of total salary</h3>
  </div>
</div>
  <!-- Left side columns -->  
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title">Salary Details</h3>
        
        
        <div class="form-group">
          <label for="id_net_salary">Net Salary:</label>
          <h3> kshs 30,000</h3>
        </div>
      </div>
    </div>
  
{% endblock content %}