{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div>
  <h1 class="text-center">Yearly Report as at {{time}}</h1>
</div>
<div>
  <table class="table">
<thead>
    <tr>
  <th>Employees Name</th>
  <th>Employees Income</th>
  <th>Total expenses</th>
  <th>Company Net Income</th>
  </tr>
</thead>
<tbody>

{% for employee in employees %}
<tr>
  <td>{{employee.first_name}}</td>
  <td>{{employee.total_income}}</td>
  <td>Kshs 0</td>
  <td>Kshs 0</td>
</tr>
{% endfor  %}

</tbody>
<tfoot>
<tr>

</tr>
</tfoot>
</table>
</div>


{% endblock content %}